html,body {
  height: 100%;
  width: 100%;
	color: white;
	background-color: black;
}

.content{
	background:black;
}

zero-md{
	background: rgba(200, 160, 240, 0.2);
	border-radius:25px;
	padding:20px;
	
}

#design-one{
	background:linear-gradient(to left bottom, violet, yellow);
	background-clip: text;
	color: transparent;
	font-size: 50px;
	
}

#design-two{
	background: linear-gradient(to right top, pink, cyan);
	background-clip: text;
	color: transparent;
	font-size: 50px;
	
}

#design-three{
	background: linear-gradient(to right bottom, lightcoral, lime);
	background-clip: text;
	color: transparent;
	font-size: 50px;
	
}
